# Apple SearchAds syncano socket

## About
Socket wrapping Apple SearchAds API

## Installation

Install socket from syncano registry. 

```sh
$ npx s add apple-search-ads
```

### Config

* _**pem**_ - PEM certificate from SearchAds Web UI
* _**key**_ - certificate key from SearchAds Web UI
* _**orgId**_ - orgId that you wish to manage from SearchAds Web UI
* _**expose**_ - Expose auth info on `apple-search-ads/auth` endpoint. Optional.

*Note: You can just set pem/key configs as some short value like `pem`
and then run `$ npx s config-set apple-search-ads pem -- "$(cat cert.pem)"`,
`$ npx s config-set apple-search-ads key -- "$(cat cert.key)"`*

{{#modules}}
## Socket {{name}} REST Api
{{#functions}}
* [{{#if variation}}{{variation}}{{else}}GET/POST{{/if}}: {{name}}](#{{name}}) - {{summary}}
{{/functions}}
{{/modules}}



{{#functions}}
#### <font style="background-color:dimgray; color:bisque" >{{#if variation}}{{variation}}{{else}}GET/POST{{/if}}</font> {{name}}<a name="{{name}}"></a>
{{>description}}
{{>params}}
{{/functions}}